<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @race.name %>
</p>

<p>
  <strong>Map:</strong>
  <%= @race.map_id %>
</p>

<% @graph.get_connections("me", "friends").each do |friend| %>
  <% user = User.find_by(uid: friend["id"]) %>
  <% if user %>
    <%= render partial: "invite_form", locals: { user: user } %>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
